* {
    box-sizing: border-box;
}

body {
    margin : 0
}

.post-placeholder {
    background-color: white;
    text-align: center;
    width: 550px;
    padding: 2% 0 0;
    margin: auto auto 50px auto;
}