.comment-placeholder {
  font-size: 90%;
  line-height: 1.7em;
  margin-bottom: 2em;
  padding: 0 2em 0 .5em;
  box-sizing: border-box;
  margin-bottom: 0;
  background-color: rgba(79, 65, 65, 0.2);
}

.comment-profile-pick {
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}

.comment-text * {
  text-align: left;
  font-size: 10px;
}


.comment-let-content * {
  margin: 0;
  font-size: 16px;
}


.comment-profile-info {
  border : 1px solid black;
  width: 8rem;
  border-radius: 5%;
  background-color: whitesmoke;
  width: 100%;
  justify-content: space;
  /* going to improve border looks */
}
.comment-profile-info * {
  font-size: 10px;
}

.username {
  font-weight: normal;
}

.comment-profile-info-box {
  display: flex;
  justify-content: space-between;
}

.comment-first-row {
  display: flex;
  justify-content: space-between;
}


.comment-content {
  font-family: "Cormorant";
  width: 20rem;
  margin-left: 2em;
  line-height: 1rem;
  text-align: left;
}