.comment-object {
display: flex;
  justify-content: flex-start;
  font-size: 90%;
  line-height: 1.7em;
  margin-bottom: 2em;
  padding: 0 2em 0 .5em;
  box-sizing: border-box;
  margin-bottom: 0;
}

.comment-profile-pick {
    width: 50px;
    border-radius: 50%;
}

.comment-text {
    width: 250px;
    padding-left: 1em;
}