.comment-object {
  display: flex;
  justify-content: space-between;
  font-size: 90%;
  line-height: 1.7em;
  margin-bottom: 2em;
  padding: 0 2em 0 .5em;
  box-sizing: border-box;
  margin-bottom: 0;
}

.comment-profile-pick {
    width: 50px;
    border-radius: 50%;
}

.comment-text * {
  text-align: left;
  font-size: 10px;
}


.comment-let-content * {
  margin: 0;
  font-size: 16px;
}


.comment-profile-info {
  display: flex;
  align-items: center;
  border : 1px solid black;
  font-size: 30px;
  /* going to improve border looks */
}
.comment-profile-info * {
  font-size: 10px;
}
