.Login {
    text-align: center;
    border: 1px solid black;
    margin : auto 30% auto 30%;
    background-color: #181515;
    width: 40%;
}

h1 {
    margin-bottom: 20px;
    color: #842323;
}

input {
    display: block;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    color : #C4C4C4;
}

form{
    border-radius: 10px;
    padding: 50px 35px;
}