.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1C1212;
    margin-bottom: 100px;
    position: sticky;
}


a {
    text-decoration: none;
    color : #4D667D;
}

a:first-child{
    font-size: 36px;
}


.Navbar div a{
    padding : 20px ;
    font-size: 20px;
    vertical-align: bottom;
    position: relative;
    top: 20%;
}


